<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#">Custom Components</a>
</div>
<gen-sidebar>
  <ul class="flex">
    <li class="nav-item">
      <a class="nav-link" routerLink="sample">
        <i class="fa fa-cog"></i>
        <div class="nav-text">Settings</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-user"></i>
        <div class="nav-text">Profile</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-tasks"></i>
        <div class="nav-text">Tasks</div>
      </a>
    </li>
  </ul>
</gen-sidebar>
<div class="panel-container">
  <router-outlet></router-outlet>
</div>

